.env
*.pyc
*.pyo
env/
venv/
.venv/
.pytest_cache/
.idea/
/misc.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/modules.xml
/test_case_7.iml
/vcs.xml
/workspace.xml
